body {
  background-color: #121212; /* Фон всей страницы */
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Растягиваем страницу на всю высоту */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.resetpassword {
  background-color: rgba(0, 0, 0, 0.4); /* Черный фон с прозрачностью */
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 100px rgba(0, 0, 0, 4);
}

.resetpassword h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.resetpassword input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 5px;
  box-sizing: border-box;
}

input::placeholder {
  color: #aaa;
}

input[type="password"] {
    padding-right: 40px; /* Создаем место для иконки */
}

.eye-icon {
    position: absolute;
    top: 47.5%;
    right: 670px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}



button {
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #333;
}





.success-message {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: -150px; /* Начальная позиция, скрытая сверху */
    left: 50%;
    transform: translateX(-50%);
    background-color: #121212; /* Темный фон */
    color: #32CD32; /* Зеленый цвет текста */
    border: 2px solid #32CD32; /* Зеленая обводка */
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    z-index: 1000;
    font-family: Arial, sans-serif;
    animation: slideDown 0.5s ease-in-out forwards; /* Анимация */
}

.success-message .message-content h3 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.success-message .message-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.success-message button {
    background-color: #111;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.success-message button:hover {
    background-color: #333;
}

@keyframes slideDown {
    from {
        top: -150px; /* Начальная позиция сверху */
    }
    to {
        top: 20px; /* Конечная позиция - 20px от верхней границы */
    }
}