<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="email-styles.css"> <!-- Подключаем уникальный CSS для email -->
</head>
<body>
<div class="container">
    <h1>Сброс пароля</h1>
    <p>Здравствуйте,</p>
    <p>Мы получили запрос на сброс пароля для вашего аккаунта в компании StepWave. Чтобы продолжить процесс, пожалуйста, перейдите по следующей ссылке:</p>
    <a href="{{resetUrl}}" class="button">Сбросить пароль</a>
    <p>Ссылка будет действительна в течение 24 часов. Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо.</p>
    <p>С уважением, <br> команда StepWave.</p>
</div>
</body>
</html>
